body {
	background-color: black;
	background: url(img/coffee-beans-from-above_4460x4460.jpg
		) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

header {
	border-radius: 10px;
	background-color: brown;
}