/*
.sidebar {
	display: inline-block;
	float: right;
	width: 22%;
	background-color: rgba(252, 214, 165, 1);
	-webkit-box-shadow: 2px 2px 0px 0.5px rgba(139,69,19,1);
	-moz-box-shadow: 2px 2px 0px 0.5px rgba(139,69,19,1);
	box-shadow: 2px 2px 0px 0.5px rgba(139,69,19,1);
	overflow: auto;
	font-family: 'Oswald', sans-serif;
	color: #8B4513;
	padding: 20px;
	border-radius: 5px;
	min-height: 50px;
}
*/