@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');
/*
HOW TO USE WEB FONTS
font-family: 'Pacifico', cursive;
font-family: 'Oswald', sans-serif;
*/

/*
********COLORS********
https://www.canva.com/color-palette/
Yellow: #FCD6A5;
Rosy Brown: #B69580;
Dim Gray: #896A5C;
Dim Gray 2: #6B5145;
Dark Olive Green: #402F28;
Black: #171112;
*/

body {
	background-color: black;
	background: linear-gradient(
		rgba(182,149,128,.4),rgba(182,149,128,.4)), 
		url(../img/coffee-beans-from-above_4460x4460.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-top: 45px;
	margin-bottom: 45px;
}

header > h1 {
	font-family: 'Pacifico', cursive;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);    
    display: inline-block;
    color: #FCD6A5;
    text-shadow: 2px 2px 0px #402F28;
    font-size: 50px;
}

section, footer {
	display: inline-block;
	background-color: rgba(252, 214, 165, 1);
	overflow: auto;
	font-family: 'Oswald', sans-serif;
	color: #8B4513;
	padding: 20px;
	border-radius: 5px;
	min-height: 50px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

footer {
	float: left;
	clear: both;
	margin: 25px 0;
	width: 100%;
}

#content-area {
	float: left;
	width: 72%;
	line-height: 30px;
}

#sidebar {
	float: right;
	width: 25%;
	line-height: 30px;
	min-width: 180px;
	margin-left: 25px;
}

section > h2 {
	color: rgba(222, 184, 135, 1);
   	font-family: 'Pacifico', cursive;
   	color: #8B4513;
   	margin-bottom: 20px;
}

nav {
	font-family: 'Pacifico', cursive;
	float: right;
}

nav > a {
	color: rgba(222, 184, 135, 1);
	text-decoration: none;
	font-size: 25px;
	text-shadow: .7px .7px 0px #8B4513;
}

nav > a:hover {
	color: rgba(252, 214, 165, 1);
}

nav > a.active {
	color: #FCD6A5;
}

.button {
	color: #402F28;
	background-color: #B69580;
	border: none;
}