@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');
/*
HOW TO USE WEB FONTS
font-family: 'Pacifico', cursive;
font-family: 'Oswald', sans-serif;
*/

/*
********COLORS********
https://www.canva.com/color-palette/
Yellow: #FCD6A5;
Rosy Brown: #B69580;
Dim Gray: #896A5C;
Dim Gray 2: #6B5145;
Dark Olive Green: #402F28;
Black: #171112;
*/

body {
	background-color: black;
	background: linear-gradient(
		rgba(182,149,128,.4),rgba(182,149,128,.4)), 
		url(../img/coffee-beans-from-above_4460x4460.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-top: 45px;
	margin-bottom: 45px;
}

.header-logo {
	display: inline-block;
}

.header-logo > img {
	position: relative;
	display: inline-block;
	left: -185px;
	z-index: -1;
	width: 150px;
}

.header-logo > h1 {
	font-family: 'Pacifico', cursive;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);    
    color: #FCD6A5;
    text-shadow: 2px 2px 0px #402F28;
    font-size: 50px;
    display: inline-block;
}


section > h2 {
	color: rgba(222, 184, 135, 1);
   	font-family: 'Pacifico', cursive;
   	color: #8B4513;
   	margin-bottom: 20px;
}

nav {
	font-family: 'Pacifico', cursive;
	float: right;
}

nav > a {
	color: rgba(222, 184, 135, 1);
	text-decoration: none;
	font-size: 25px;
	text-shadow: .7px .7px 0px #8B4513;
}

nav > a:hover {
	color: rgba(252, 214, 165, 1);
}

nav > a.active {
	color: #FCD6A5;
}

.product-area {
	width: 100%;
	background-color: rgba(252, 214, 165, 1);
	overflow: auto;
	font-family: 'Oswald', sans-serif;
	color: #8B4513;
	padding: 20px;
	border-radius: 5px;
	float: left;
	min-height: 50px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.product-area > h2 {
	display: inline-block;
	width: 100%;
}

p {
	font-size: 18px;
	line-height: 30px;
}

.product {
	width: 220px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 20px;
	-webkit-flex: none;
	flex: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product:hover {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-photo {
	width: inherit;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.product-bottom {
	padding: 10px;
	background-color: #6B5145;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: rgba(222, 184, 135, 1);
}

.button {
	color: #402F28;
	background-color: #B69580;
	border: none;
}

footer {
	float: left;
	clear: both;
	margin: 25px 0;
	width: 100%;
	background-color: rgba(252, 214, 165, 1);
	overflow: auto;
	font-family: 'Oswald', sans-serif;
	color: #8B4513;
	padding: 20px;
	border-radius: 5px;
	min-height: 50px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}